{% extends "base.html" %}
{% load static %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>恐れ入ります。ログインをお願いいたします</p>
    {% endif %}
{% endif %}

<form id="login_box"method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="login_field">
    <div class="login_name">user name</div>
    {{ form.username }}
</div>
<div class="login_field">
    <br>
    <div class="login_name">password</div>
    {{ form.password }}
</div>
<br>
<input  type="submit" class="btn btn-primary rounded-pill btn-sm mx-auto d-block" id="login_bottun" value="login" />
    <!-- <p><input type="hidden" name="next" value="{{ next }}" /></p> -->
</form>
{% endblock content %}