{% extends "base.html" %}

{% load static %}

{% block content %}
<content class="wrap">
<article class="container box style2">
<div class="inner gallery">
    <div class="row gtr-0">
        {% for item in data1 %}
        <div class="col-3 col-12-mobile"><a href="{{ item.picture.url }}" class="image fit"><img src="{{ item.picture.url }}" alt="" title="{{item.picture.name}}" /></a></div>
        {% endfor %}
    </div>
</div>
</article>
</content>
<script src="{% static 'js/pace.min.js' %}"></script>
{% endblock content %}
