{% extends "base.html" %}

{% load static %}

{% block content %}
<content class="wrap">
<h2> 周辺の店舗検索　</h2>
<form id="login_box" action="">
{% csrf_token %}
    <div class="login_name">テイクアウトが可能な店舗</div>
<br>
    <div class="map" id="map"></div>
    <ul id="shop-list"></ul> <!--お店の詳細情報を表示-->
    </form>
</content>

<script>

$(document).ready(function () {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
////ここまでおまじないと思って記述
//Google Maps
var map
function initMap(){
  map = new google.maps.Map(document.getElementById('map'),
    {zoom: 15});
  }

let a = navigator.geolocation.getCurrentPosition(get_pos);
function get_pos(position) {
  let lat = position.coords.latitude;　// 緯度
  let lng = position.coords.longitude; // 経度
  let latLng = new google.maps.LatLng(lat, lng);
  var marker = new google.maps.Marker({　// 現在地の位置設定とアイコンのカスタマイズ
      position: latLng,
      map: map,
  });
  infoWindow = new google.maps.InfoWindow({  //吹き出しの追加
               content: '<div class="map">現在地</div>'
  });
  marker.addListener('click', function(){ //マーカーをクリック後の吹き出しを表示
                infoWindow.open(map, marker);
  });
  map.setCenter(latLng);　// 地図の中央に現在地を表示する

 $.ajax({
  type : "get",
  url　: "https://api.gnavi.co.jp/RestSearchAPI/v3/?keyid=4b1b2ec2023428d323cb11e5a569a82a&wifi=1&latitude="+lat+"&longitude="+lng+"&range=4&takeout=1",
  dataType : 'json',
  success　: function(json){
    let num_shop = json.rest.length;
    for( let i=0; i < num_shop; i++){
      console.log(json.rest[i].url);
      var latLng = new google.maps.LatLng(json.rest[i].latitude, json.rest[i].longitude);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        label: {
        text: String(i+1),
        color: "#fff",
        fontWeight: 'bold',
        fontSize: '14px'
        },
        url: json.rest[i].url,
      });
      google.maps.event.addListener(marker, 'click', (function(url){
        return function(){ location.href = url; };
      })(json.rest[i].url));
      $('<li class="each-shop"><i class="fas fa-map-marker fa-3x"></i><span class="icon-a">'+ String(i+1) + '</span><a href="' + json.rest[i].url + '"><img class="shop-img" src=' + json.rest[i].image_url.shop_image1 + '><span class="shop-content"><span class="shop-name">' + String(i+1) + " " + json.rest[i].name + '</span><span class="time">営業時間：' + json.rest[i].opentime + '<</span></span></a></li>').appendTo('#shop-list');
    }
  },
  error: function(json){
    console.log("error")
  }
});
};

<!--//以下Ajax-->
<!--$(function(){-->
<!--    $('#login_bottun').on('click', ()=> {-->
<!--        $.ajax({-->
<!--            url: "{% url 'make_map_post' %}",-->
<!--            method: "POST",-->
<!--            dataType: "json",-->
<!--            timeout: 1000,-->
<!--            data: {-->
<!--                "lat": lat,-->
<!--                "lng": lng,-->
<!--            }-->
<!--        }).done((data)=> {-->
<!--                $(".google_map").html('')-->
<!--                 console.log(data);-->
<!--                 initMap(data.latitude, data.longitude);-->
<!--         }).fail(()=> {-->
<!--                  console.log('無理です')-->
<!--         });-->
<!--    });-->
<!--});-->

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT6NDfngzEuU5PXaDzg1vNswT1DqT2cG4&callback=initMap"></script>
<script src="{% static 'js/pace.min.js' %}"></script>


{% endblock content %}
