{% extends "base.html" %}

{% load static %}

{% block content %}
<content class="wrap">
<h2> 画像検索　</h2>
<form id="login_box"method="post" action="">
{% csrf_token %}
<div class="login_field">
    <div class="login_name">検索する画像</div>
    {{ form.search_name }}
</div>
<br>
<input  type="submit" class="btn btn-primary rounded-pill btn-sm mx-auto d-block" id="login_bottun" value="スクレイピング" />
    <!-- <p><input type="hidden" name="next" value="{{ next }}" /></p> -->
<br>

    {% block celery-progress %}{% endblock %}

</form>
<br>
<form method="POST" action="{% url 'zip_data' %}">
 <div class="'form-group col-md-2">
         {% csrf_token %}
         {{ form_choice.one }}
<br>
     <div class="dll"></div>

 </div>
</form>
</content>
<script>



//実行時に進捗バー表示 .length !== 0 変数内の中身確認
$(function(){
    $('#login_bottun').click(function(){
        var search_name = document.getElementById("id_search_name").value;
        if(search_name.length !== 0){
           dispLoading("処理中...");
           }else if (input_code == null){
            ; //何もしない
            }
        });
    });

</script>
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/search_botto_in.js' %}"></script>

{% endblock content %}