{% extends "base.html" %}

{% load static %}

{% block content %}
<content class="wrap">
<h2> 出品者により商品検索　</h2>
<form id="login_box"method="post" action="">
{% csrf_token %}
<div class="login_field">
    <div class="login_name">出品者</div>
    {{ form.seller_name.errors }}
    {{ form.seller_name }}
</div>
<div class="login_field">
    <br>
    <div class="login_name">商品名</div>
    {{ form.search_name }}
    <div class="errorlist">{{ chick_error }}</div>
</div>
<br>
<input  type="submit" class="btn btn-primary rounded-pill btn-sm mx-auto d-block" id="login_bottun" value="スクレイピング" />
    <!-- <p><input type="hidden" name="next" value="{{ next }}" /></p> -->
</form>

<br>

{% block celery-progress %}{% endblock %}




{% for auction, img_all in data %}
<div class="table-responsive">
<table class="table table-dark table-hover table-sm table-borderless text-nowrap" table id="content">
    <thead class="thead-dark">
    <tr>
        <th scope="col">出品者</th>
        <th scope="col">商品名</th>
        <th scope="col">落札価格</th>
        <th scope="col">税込価格</th>
        <th scope="col">入札数</th>
        <th scope="col">出品個数</th>
        <th scope="col">開始値段</th>
        <th scope="col">開始日・時間</th>
        <th scope="col">終了日・時間</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class = 'text_limit'>{{ auction.seller_name }}</td>
        <td class = 'text_limit'>{{ auction.shop_good }}</td>
        <td class = 'text_limit'>{{ auction.price }}</td>
        <td class = 'text_limit'>{{ auction.price_tax }}</td>
        <td class = 'text_limit'>{{ auction.bid_numder }}</td>
        <td class = 'text_limit'>{{ auction.goods_quantity }}</td>
        <td class = 'text_limit'>{{ auction.price_start }}</td>
        <td class = 'text_limit'>{{ auction.auction_starttime }}</td>
        <td class = 'text_limit'>{{ auction.auction_endtime }}</td>
    </tr>
    <tr>
        <td colspan="9" class="inner gallery">
            {% for img in img_all %}
            <a href="{{ img.photo_goods.url }}"><img class="img-fluid" id="keka3-img" alt="No image" src="{{ img.photo_goods.url }}" title="出品時掲載画像"/></a>
            {% endfor %}
        </td>
    </tr>

    {% endfor %}
    </tbody>
    </table>
</div>
</content>
<script>

//全体の実行時に進捗バー表示 .length !== 0 変数内の中身確認
$(function(){
    $('#login_bottun').click(function(){
        var seller_name = document.getElementById("id_seller_name").value;
        var search_name = document.getElementById("id_search_name").value;
        if(seller_name.length !== 0 && search_name.length !== 0){
            dispLoading("処理中...");
        }
    });
});
</script>
<script src="{% static 'js/pace.min.js' %}"></script>

{% endblock %}