{% extends 'keka5.html' %}

{% load static %}

{% block celery-progress %}
<!-- 進捗を確認するバー　-->
<div id="progress-wrapper">
  <div id="progress-bar" class='progress-bar' style="background-color: blue; width: 0%;">&nbsp;</div>
  <div id="progress-bar-message">待機中...</div>
</div>
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% if task_id %}
<script>
//celery実行時の進捗バーを表示
document.addEventListener("DOMContentLoaded", function () {
  var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
  CeleryProgressBar.initProgressBar(progressUrl);
});
</script>
{% endif %}
{% endblock celery-progress %}